<p>asset-details works!</p>
<!-- <div class="navbar">
    <div class="navbar-inner">
        <h3 class="title">Asset Details</h3>
        <div class="addAsset"><a class="addAssetLink" >Add Asset</a></div>
        <div class="box">
            +<button class="addAsset">Add Asset</button>
        </div>
        </div>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">plant</th>
            <th scope="col">Process Area</th>
            <th scope="col">Asset</th>
            <th scope="col">AssetId</th>
            <th scope="col">edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let us of Assets'>
            <th >{{us.plant}}</th>
            <td>{{us.processArea}}</td>
            <td>{{us.asset}}</td>
            <td>{{us.assetId}}</td>
            <td>..</td>
              &nbsp;
          </tr>
        </tbody>
      </table>
</div>
======================================================

<p>
    <mat-form-field appearance="legacy">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Standard form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  
 -->
